@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #fefefe;
  font-family: 'lora', sans-serif;
  background-image: url('/img/pic2.jpg');
  background-size: cover ;
  background-position: bottom;
}

.app-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6));
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 15px 15px;
}

header .topHeader {
  text-align: center;
  width: 100%;
  max-width: 350px;
  padding: 10px 15px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 12px 0px 16px 0px;
  border-bottom: 3px solid #df8e00;
  
}

header input:focus {
  background-color: rgba(255, 255, 255, 0.5);
  width: 80%;
  max-width: 330px;
  font-size: 17px;
  font-weight: 500;
}

header input {
  width: 70%;
  max-width: 200px;
  margin-right: 0;
  padding: 10px 15px;
  background: #999;
  color: #fefefe;
  font-size: 14px;
  font-weight: 300;
  transition: 0.2s ease-out;
  font-family: 'lora', sans-serif;
  border-style: none;
}

header button {
  padding: 10px 15px;
}

header button:focus {
  background-color: rgba(100, 100, 100, 0.9);
}

main {
  flex: 1 1 100%;
  padding: 25px 25px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.location .city {
  color: #fff;
  font-size: 38px;
  font-weight: 500;
  margin-bottom: 8px;
}

.location .date {
  color: #fff;
  font-size: 14px;
}

.current .temp {
  color: #fff;
  font-size: 99px;
  font-weight: 900;
  margin: 10px 0px;
  text-shadow: 5px 8px rgba(0, 0, 0, 0.75);
}

.current .temp span {
  font-weight: 500;
}

.current .temp span img {
  margin: 0 ;
  padding: 0;
}

.current .weather {
  color:  #fff;
  font-size: 32px;
  font-weight: 700;
  font-style: italic;
  margin-bottom: 15px;
  text-shadow: 0px 3px rgba(0, 0, 0, 0.4);
}

.current .hi-low {
  color: #fff;
  font-size: 30px;
  font-weight: 500;
  font-style: italic;
  text-shadow: 0px 3px rgba(0, 0, 0, 0.4);

}

table {
  display: block;
  overflow-x: auto;
  white-space: nowrap; 
  scrollbar-color: #01060a #030911;
  scrollbar-width: 1px;
}

table::-webkit-scrollbar {
  display: none;
}

th, td {
  padding: 10px;
}

.article {
  -webkit-columns: 2 200px;
  -moz-columns: 2 200px;
  columns: 2 200px;
  -webkit-column-gap: 4em;
  -moz-column-gap: 4em;
  column-gap: 4em;
  -webkit-column-rule: 1px double #ddd;
  -moz-column-rule: 1px double #ddd;
  column-rule: 1px double #ddd;
}

.days, table {
  display: block;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 15px 15px 15px;
}

nav, .days {
  margin-right: auto;
  margin-left: auto;
  width:100%;
  text-align: center;
}

.days h3, .days .table {
  text-align: center;
}

nav button{
  display: inline;
  max-width: 80px;
  font-size: 1.1em;
  padding: 5px;
  border-radius: 5%;
}

.icon {
  display: inline;
  margin: 0;
  padding: 0;;
}

table tr td {
  margin: 0;
  padding: 0;
}




#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}
