body {
  background-color: rgba(68, 129, 129, 0.5);
}

#search-sm input.btn, button {
    border: 1px solid #333!important;   
}


@media screen and (min-width: 768px) {
    #search_sm {
      display: none;
    }
}

@media screen and (max-width: 768px) {
    #search {
      display: none
    }
}

.main {
  background-color: #fefefe;
  border: 1px solid #dedede;
  border-radius: 2%;
  width:  auto; 
}

.icon {
  position: relative;
  top: -80px;
  z-index: 2;
}

