body {
  background-color: rgba(68, 129, 129, 0.5);
}

#search-sm input.btn, button {
    border: 1px solid #333!important;   
}


@media screen and (min-width: 992px) {
    .search_div2 {
      display: none;
    }
    .main::before {
      min-width: 690px;
      min-height: 234px;
    }
}

@media screen and (max-width: 992px) {
    .search_div {
      display: none;
    }
}

.main {
  background-color: #fefefe;
  border: 1px solid #dedede;
  border-radius: 2%;
  width:  auto; 
}

.icon {
  position: relative;
  top:-100px!important ;
  /* z-index: 2; */
}

nav a:active {
  color: #239a23!important;
}

.active {
  color: #fefefe;
  background-color: rgb(37, 47, 104)!important;
}

.input-group-text:focus {
  background-color: #5668cc!important;
}